body {
	background-color: #f9f9f9;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
div.wrapper {
	width: 1060px;
	background-color: #ffffff;
	border-left: 2px solid #dbdbdb;
	border-right: 2px solid #dbdbdb;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 50px 48px 60px 46px;
}

header {margin-bottom: 40px;}

header  nav {
	height: 40px;
	background: linear-gradient(#5e5e5e, #444343); 
}

header nav li {
	display: inline-block;
	padding-right: 75px;
}
header li:first-child {
	padding-left: 24px;
}

header  li  a {
	line-height: 40px;
	text-decoration: none;
	color: #ffffff;
}

main {
	margin-bottom: 40px;
}

main aside {
	float: left;
	width: 240px;
	margin-right: 42px;
}

main nav {
	box-sizing: border-box;
	border: 1px solid #c8c8c8; 
}

main li {
	height: 40px;
	border-bottom: 1px solid #c8c8c8;
	padding-left: 24px;
}

main li:last-child {
	border-bottom: none;
}

main a {
	line-height: 40px;
	text-decoration: none;
	color: #656363;
}

main article {
	float: right;
	width: 680px;
	border: 1px solid black;
}

.content img {
	width: 670px;
	/*height: 400px;*/
	border: 1px solid #c8c8c8;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	margin-bottom: 60px;
}

footer {
	height: 40px;
	background: #e1e1e1; 
}

footer nav {
	display: inline-block;
}

footer li {
	display: inline-block;
	padding-right: 75px;
}
footer li:first-child {
	padding-left: 24px;
}

footer a {
	line-height: 40px;
	text-decoration: none;
	color: #2c2c2c;
}

footer span {
	float: right;
	line-height: 40px;
	padding-right: 25px;
	color: #2c2c2c;
}


