@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue.woff") format("woff"),
		 url("../fonts/HelveticaNeue.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

input { 
	outline: none;
}

body {
	font-family: "Helvetica Neue";
}

main {
	width: 100%;
	min-height: 1025px;
	background: #074986 url("../images/background.png") center top no-repeat;
	background-size: cover;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	height: 36px;
	background: #074c89;
	font-size: 14px;
	color: #60b5ed;

}
.main-nav ul {
	margin-right: 18px;
}
.main-nav li {
	display: inline-block;
}
.main-nav li.active a {
	color: #ffffff;
	background: #4eabda;
}
.main-nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	color: #60b5ed;
	padding: 11px 10px;
}
.flag {
	display: inline-block;
	width: 21px;
	height: 25px;
	background: url("../images/flag.png") center center no-repeat;
	vertical-align: middle;
	margin-left: 25px;
}
.flag:before {
	content: '';
	display: inline-block;
	height: 30px;
	border-left: 1px solid #60b5ed;
	margin-left: -20px;
	margin-top: -5px;
}
.Entrar a {
	padding: 0;
	color: #ffffff;
	text-decoration: underline;
}
.Entrar {
	padding: 11px 10px;
	background: linear-gradient(#51b1dc, #2e7ac4);
	color: #ffffff;
	border-left: 1px solid #54a1db;
	border-right: 1px solid #54a1db;
}
main {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.Cadastre-se {
	display: block;
	width: 600px;
	/*height: 615px;*/
}
.Cadastre-se > div { background: rgba(0, 0, 0, 0.6); }

.Cadastre-se div:first-child {
	margin-bottom: 1px;
	padding: 20px 0;
}

.Cadastre-se div:first-child h2 {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	font-weight: normal;
}

.Cadastre-se div:last-child > p { text-align: center; }

.fb {
	position: relative;
	display: inline-block;
	margin: 35px 0;
	background: linear-gradient(#3e5694, #344066);
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
}

.fb span:first-child {
	display: inline-block;
	width: 38px;
	height: 34px;
	background-image: url("../images/fb.png");
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px 0 0 5px;
	border-top: 1px solid #758ab7;
	box-shadow: 1px 0 0 0 #1f3c74;
	vertical-align: middle;
}

.fb span:nth-child(2) {
	display: inline-block;
	margin-left: 1px;
	padding: 8px 55px 10px 30px;
	border-radius: 0 5px 5px 0;
	border-top: 1px solid #758ab7;
	border-left: 1px solid #4c66a3;
	vertical-align: top;
}

.fb span:nth-child(3) {
	position: absolute;
	top: 14px;
	right: 26px;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-top: 3px solid #ffffff;
	border-right: 3px solid #ffffff;
	transform: rotate(45deg);
}
 
.OU { 
	color: #999999;
	margin-bottom: 28px; 
}
.OU:before,  .OU:after {
	content: "";
	display: inline-block;
	width: 122px;
	height: 1px;
	margin: 0 5px;
	background-color: #999999;
	border-bottom: 1px solid #000000;
	vertical-align: middle;
}
form {
	text-align: center;
}
input.input {
	box-sizing: border-box;
	width: 278px;
	height: 34px;
	padding: 10px 18px;
	margin: 0 50px 18px 50px;
	background: #101010;
	border: none;
	border-bottom: 1px solid #484948;
	color: #ffffff;
}

input.input:focus {
	color: #fffcfc;
	background: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0 0 8px 4px #689bcc;
}

label {
	display: inline-block;
	color: #cccccc;
	font-size: 14px;
	margin-left: -40px;
	margin-bottom: 18px;
}

.create {
	padding: 10px 12px;
	color: #ffffff;
	font-size: 14px;
	background: linear-gradient(#50aedb, #2e7ac4);
	border: none;
	border-radius: 5px;
	border-top: 1px solid #6bb8e7;
	margin-bottom: 18px;
}

.agreements {
	font-size: 11px;
	color: #cccccc;
	line-height: 1.5;
	padding: 0 122px 18px 125px;
}
