body {
	font-family: Tahoma, sans-serif;
	background: -webkit-linear-gradient(#128aa7, #128aa7 28px, #5ef0ff 28px, #5ef0ff 30px, #11cee1 30px, #ffffff 175px, #41c6d3 175px, #0c739f 1020px, #0c739f);
	background: -o-linear-gradient(#128aa7, #128aa7 28px, #5ef0ff 28px, #5ef0ff 30px, #11cee1 30px, #ffffff 175px, #41c6d3 175px, #0c739f 1020px, #0c739f);
	background: -moz-linear-gradient(#128aa7, #128aa7 28px, #5ef0ff 28px, #5ef0ff 30px, #11cee1 30px, #ffffff 175px, #41c6d3 175px, #0c739f 1020px, #0c739f);
	background: linear-gradient(#128aa7, #128aa7 28px, #5ef0ff 28px, #5ef0ff 30px, #11cee1 30px, #ffffff 175px, #41c6d3 175px, #0c739f 1020px, #0c739f);
}
.shadow {
	width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 2px 1px #0a5c72;
}
header {
	height: 175px;
	background-color: #fff;
	display: flex;	
	justify-content: space-between;
}

.logo {
	width: 313px;
	height: 175px;
	margin-left: 27px;
	background: url('../images/logo.png') -10px 5px no-repeat;
}

.logo span {
	display: block;
	margin-top: 111px;
	margin-left: 77px;
	font-size: 12px;
	color: #128aa7;
}

.photo img {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #138aa7;
	box-shadow: 0 1px 0 0 #cacbcb;
	margin-bottom: 1px;
}

.info {	margin-right: 31px;	}

.contacts {	
	margin-top: 5px;
	margin-left: 210px;
}

.contacts span {
	display: block;
	color: #7bb3c4;
	font-size: 12px;
	line-height: 16px;
}

.contacts span:first-child { 
	font-weight: bold; 
	line-height: 20px;
}

.countries { margin-top: 37px; }

.countries a {
	text-decoration: none;
}
.countries figure {
	display: inline-block;

}
.countries figcaption {
	text-align: center;
	text-decoration: underline;
	font-size: 10px;
	color: #128aa7;
}

.countries a { margin-right: 10px; }
.countries a:nth-child(4) { margin-right: 5px; }
.countries a:nth-child(5) { margin-right: 3px; }
.countries a:nth-child(6) { margin-right: 0; }

.countries a:nth-child(5) img{	padding-left: 6px; }
.countries a:nth-child(6) img{	padding-left: 3px; }

main { border-bottom: 2px solid #031d28; }

.top-navbar {
	position: relative;
	height: 26px;
	border-bottom: 1px solid #000000;
	background: -webkit-linear-gradient(#373737, #303030);
	background: -o-linear-gradient(#373737, #303030);
	background: -moz-linear-gradient(#373737, #303030);
	background: linear-gradient(#373737, #303030);
	box-shadow: 0 1px 0 0 #555555,
				0 2px 0 0 #808080,
				0 3px 0 0 #bfbfbf,
				0 4px 0 0 #eaeaea;
}
.top-navbar > ul > li { 
	display: inline-block; 
	position: relative;
}
.top-navbar > ul { margin-left: 60px; }
.top-navbar a{
	display: block;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 43px 8px 10px;
}
.top-navbar a > span {
	font-size: 8px;
	vertical-align: 2px;
}

.top-navbar .submenu{
	display: none;
	position: absolute;
	background: #303030;
	top: 27px;
	left: 0;
	box-shadow: 0 3px 3px 2px #404040;
}

.submenu a {
	padding: 5px 43px 8px 10px;
}

.top-navbar > ul > li:hover > ul {
	display: block;
} 

.main-content {
	width: 1000px;
	height: 545px;
	overflow: hidden;
	display: flex;
}

.left-block, .center-block, .right-block {
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.left-block, .right-block {
	width: 208px;
	background: #edeef0;
	border-left: 1px solid #c7cacf;
	border-right: 1px solid #c7cacf;
}

.center-block {
	width: 580px;
	background: #ffffff;
}

.main-content h2 {
	color: #424c43;
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-content p {
	color: #424c43;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
 }

footer { height: 30px; }

footer p {
	font-size: 12px;
	color: #dee7ee;
	text-align: center;
	margin-top: 8px;
}